@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        <div class="container">
            <img src="~/img/Employed.jpg" alt="800" class="img-thumbnail" id="ampliar-imagen" style="width: 100%; height: 350px; margin-top: 40px; border: none;">
        </div>
    </div>
    <div class="col-md-8">
        <div class="col-md-12">
            <div class="container">
                <form asp-action="FindEmployed" method="post" style="margin-top: 70px;">
                    <div class="form-group mt-4">
                        <label for="foodType" class="form-label"><strong>Alimentos:</strong></label>
                        <select class="form-control form-control-lg" id="foodType" name="FoodType" required style="font-size: 23px;">
                            <option value="0">Seleccione un alimento</option>
                            @*@foreach (var foodType in ViewBag.AvailableFoodTypes)
                            {
                                <option value="@foodType.Id @(foodType.Id==ViewBag.SelectedFoodTypeId ? "selected" : "" )">@foodType.Name</option>
                            }*@
                        </select>
                    </div>
                    <div class="form-group row g-8 align-items-center">
                        <div class="col-md-12">
                            <label  class="form-label"><strong>Ingrese su identificación:</strong></label>
                        </div>
                        <div class="col-md-12">
                            <input  autofocus class="form-control form-control-lg" type="number" placeholder="Ingrese número de identificación" min="0" required style="font-size: 23px;">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        @*<div class="container">
            <div class="col-lg-12" style="margin-top: 40px;">
                @if (!string.IsNullOrEmpty(mensaje))
                {
                    <div class="alert alert-info" id="mensaje-alert">
                        @mensaje
                    </div>
                }
            </div>
        </div>*@
        <script>
            var mensajeAlert = document.getElementById('mensaje-alert');
            var time = 4000;

            setTimeout(function () {
                mensajeAlert.style.display = 'none';
            }, time);
        </script>
    </div>
</div>
