@model CasinoApp.Models.Parameters.MovimientoCasino

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>MovimientoCasino</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Costo" class="control-label"></label>
                <input asp-for="Costo" class="form-control" />
                <span asp-validation-for="Costo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdTipoComida" class="control-label"></label>
                <select asp-for="IdTipoComida" class="form-control" asp-items="ViewBag.IdTipoComida"></select>
                <span asp-validation-for="IdTipoComida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdGrupoEmpleado" class="control-label"></label>
                <select asp-for="IdGrupoEmpleado" class="form-control" asp-items="ViewBag.IdGrupoEmpleado"></select>
                <span asp-validation-for="IdGrupoEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEmpleado" class="control-label"></label>
                <select asp-for="IdEmpleado" class="form-control" asp-items="ViewBag.IdEmpleado"></select>
                <span asp-validation-for="IdEmpleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HoraRegistro" class="control-label"></label>
                <input asp-for="HoraRegistro" class="form-control" />
                <span asp-validation-for="HoraRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

